.badge {
  padding: 10px 20px;
  color: white;
  font-weight: bold;
  width: fit-content;
  border-radius: 8px;
  margin: 20px 0;
}

.online {
  background-color: green;
}

.offline {
  background-color: gray;
}

.busy {
  background-color: red;
}
